.ButtnfromRegWrapper{
    margin-top:70px;
    margin-left:450px;
    text-align:"webkit-center";
    margin-bottom: 20px;
    /* font-size: 14px; */
}
.ButtnfromRegWrapperfacebook{
    width:221px;
    height:70px;
    background: #3b5998;
    border:none;
    margin-right:15px;
    font-size: 14px;
    
}
.ButtnfromRegWrapperfacebook:hover{
    background: #3b5998;
}
.ButtnfromRegWrapperGoogle{
    width:221px;
    background: #db4437;
    border:none;
    height:65px;
}
.ButtnfromRegWrapperGoogle:hover{
    background: #db4437;
    border:none
}