.forgotPassword_card{
    width:700px;
    margin-top:10%;
    margin-left: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align:center

}
.forgotPassword_card_input{
    margin-top:24px !important;
}
.forgotPassword_card_input{
    height:60px;
    width:600px;
    margin-left:18px;
    margin-bottom: 60px;
}

