.productCart{
    width:250px !important;
    height:350px !important;
    display: inline-flex;
    margin-left:30px;
    margin-bottom: 50px;
    box-sizing: border-box;
}
.sidemenu{
    height:800px
}
.addToCart{
    width:120px !important;
    margin-left:85px
}
.productCartImg{
    padding:20px 20px 0px 20px;
    width:280px;
    height: 130px;
}
.header1{
    margin-left:22px;
    margin-top:4%;
    margin-bottom: 4%;
    font-weight: 400;
}
.productCart_title{
    /* color: #36b; */
    font-size:medium;
    padding: 3%;
    text-align: center;
    box-sizing: border-box;
}

.productCart_button{
    margin-left:21%;
    background-color: red;
    border:none;
    width: 120px;
    height: 40px;
    border-radius: 4%;
    box-sizing: border-box;
}
.productCart_rating{
    text-align: center !important; 
    box-sizing: border-box;
}
.productCart_price{
    text-align: center;
    margin-top: 0%;
    font-size: 14px;
    /* box-sizing: border-box; */
    /* padding-top: 20px !important; */
}
.productCart_body_display{
    padding-top: 0px;
    /* padding-bottom: 40px; */

}
.product_wrapper{
    padding-left:5%;
    box-sizing: border-box;
}
.sort{
    width:100px;
    margin-left:20px;
    background-color: transparent;
    color:blue;
    border:none
}
.sort:hover{
    background-color: rgba(128, 128, 128, 0.089);
    color:blue
}
.pagination {
    margin: 15px auto;
    margin-left:250px;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: #47ccde ;
    border-color: #47ccde ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid red;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: red;
    border-color: red;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: red
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }